@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    /*background: #c8e6fa;*/
    background: #555;
    border-radius: 5px;
    display: none;
    list-style: none;
    opacity: 1;
}

.menu.open {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    /*color: #30709b;*/
    color: #fff;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;

}

.menu .menu-item:hover {
    /*background: #7fc4f1;*/
    background: #777;
}

.quote {
    position:absolute;
    width: 500px;
    bottom:50px;
    right:50px;
    padding-left: 50px;
    /*border-left: 4px solid #e2e2e2;*/
    border-left: 4px solid #e2e2e2;
    font-family: 'Georgia', 'Times New Roman', serif;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .quote.open {
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .quote p {
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
  }
  .quote cite {
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #555;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 25px;
    text-align: center;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
    font: italic 1.7rem "Fira Sans", serif;
    letter-spacing: 4px;
    word-spacing: 10px;
    background: #343434;
    color: #fdf8f4;
    z-index: 2;
    opacity: 0.85;
}

.work-part {
    background-color: powderblue;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

/*
.work-part.change {
  background-color: ;
}
*/

.img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}

.buttom-background {
    border: 1px solid gray;
    color: #fff;
    background: #343434;
    padding: 8px;
    position: absolute;
    top: 25px;

}

#customMessage {
    position: fixed;
    top: 90px;
    left: 10px;
    background-color: #555;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
}
